@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');



/*-------- Main CSS ---------*/

body {
  background-color: #28282B;
  color: #FAF9F6;
  font-family: 'Source Code Pro', monospace;
  max-height: 99dvh;
}

.outer-box {
  margin: 5dvh 4vw;
  padding: 0 0 4dvh 4vw;
  height: 85.5dvh;
  border-left: 3px solid #FAF9F6;
  border-bottom: 3px solid #FAF9F6;
  border-bottom-left-radius: 15px;

  display: flex;
  justify-content: space-between;
}

.left-inner-box {
  overflow-y: auto;
  width: 100%;
}

.nav-column {
  margin-left: 5%;
  margin-bottom: 2%;
  padding: 2% 3%;
  border-left: 3px solid #FAF9F6;
  border-right: 3px solid #FAF9F6;

  display: flex;
  flex-direction: column;
  display: none;
}

.name-title-box {
  margin-bottom: 12dvh;
  border-bottom: 3px solid #FAF9F6;
  width: 99%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-name {
  color: #FAF9F6;
  margin: 0;
  padding-top: 0;
  text-decoration: none;
  font-size: 1.85em;
  width: fit-content;
}

.full-name::after {
  height: 2px;
}

.home-hello {
  font-size: 3em;
  margin-bottom: 0%;
}

.text-line-container {
  margin: 1em 0;

  display: flex;
  align-items: start;
}

.text-line {
  margin: 0 0 0 .5em;
}


/* ----------------Project.js--------------- */
.expand-button {
  width: 99%;
  background-color: #28282B;
  color: #FAF9F6;
  border: none;
  border-radius: 3px;

  display: flex;
  align-items: center;
  font-size: .9em;
}

.expand-button:hover {
  background-color: rgb(211 211 211 / 10%);
  cursor: pointer;
}

.project-name {
  margin: .5em 1em;
}

.project-img {
  max-width: 30%;
  border: 3px solid #FAF9F6;
}

.project-anchor {
  color: #BD70FF;
  margin-bottom: 1em;
}

.project-content {
  transition: max-height 0.5s ease-out 0s;
  overflow: hidden;
}

.content-collapsed {
  max-height: 0vh;
}

.content-expanded {
  min-height: fit-content;
  max-height: 100vh;
}


/* -----------Contact.js------------ */
.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contacts-container {
  margin-right: 3em;
  display: flex;
  align-items: start;
  margin-bottom: 20%;
}

.contacts-container > h3 {
  margin-top: 0px;
}

.contacts-subcontainer {
  margin-left: 1em;
}

.contacts-subcontainer > * {
  margin-bottom: .5em;
}

/* Nav link */

.nav-link {
  text-decoration: none;
  margin-bottom: 4dvh;
  font-size: large;
  color: #FAF9F6;

  display: block;
  position: relative;
  overflow: hidden;
}

.nav-link::after {
  height: .1em;
}

.dynamic-underline {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.dynamic-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FAF9F6;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.dynamic-underline:hover::after,
.dynamic-underline:focus::after {
  transform: translate3d(0, 0, 0);
}

.current-underline::after {
  transform: translate3d(0, 0, 0);
}

/* Other dynamic classes */

.link-button {
  text-decoration: none;
  border: 2px solid #FAF9F6;
  background-color: #28282B;
  color: #FAF9F6;
  border-radius: 3px;
  font-size: .9em;
  padding: .2em;

  display: flex;
  align-items: center;
  width: fit-content;
  transition: all .3s ease-in-out;
}

.link-button:hover {
  background-color: #FAF9F6;
  color: #28282B;
}


/* ---------Phone Responsive & Hamburger Menu----------- */

.hamburger {
  display: flex;
}

.hamburger-icon {
    /* 
    CSS Hamburger Menu Icon Element Source
    Author: Temani Afif
    April 22, 2022
    https://freefrontend.com/css-hamburger-menu-icons/
  */
  --s: 40px; /* control the size */
  --c: #FAF9F6; /* the color */
  z-index: 2;
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid transparent; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, transparent 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, transparent) repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
              var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
              var(--_g2) right var(--_p, 0px) top,
              var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, transparent, #000 25% 75%, transparent);
  mask: linear-gradient(90deg, transparent, #000 25% 75%, transparent);
  cursor: pointer;
  transition: background-position .3s var(--_s, .3s), clip-path 0s var(--_s, .6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s, .3s));
}

.hamburger-icon:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
  --c: #28282B;
}

.hamburger-icon:checked:before {
  transform: rotate(45deg);
}

.hamburger-icon:checked:after {
  transform: rotate(-45deg);
}

.hamburger-icon:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.hamburger-menu {
  transition: width 0.5s ease-out 0s;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(250, 249, 246, 0.9);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link {
  text-decoration: none;
  margin-bottom: 4dvh;
  font-size: large;
  color: #28282B;
  display: block;
  position: relative;
  overflow: hidden;
}

.menu-link::after {
  height: 0.1em;
}

.menu-underline {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.menu-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #28282B;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.menu-underline:hover::after,
.menu-underline:focus::after {
  transform: translate3d(0, 0, 0);
}

.menu-collapsed {
  width: 0;
}

.menu-expanded {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .nav-column {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
