@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body {
  background-color: #28282B;
  color: #FAF9F6;
  font-family: 'Source Code Pro', monospace;
}

.outer-box {
  margin: 5vh 4vw;
  padding: 0 0 4vh 4vw;
  height: 85.5vh;
  border-left: 3px solid #FAF9F6;
  border-bottom: 3px solid #FAF9F6;
  border-bottom-left-radius: 15px;

  display: flex;
  justify-content: space-between;
}

.left-inner-box {
  overflow-y: auto;
  width: 100%;
}

.nav-column {
  margin-left: 5%;
  margin-bottom: 2%;
  padding: 2% 3%;
  border-left: 3px solid #FAF9F6;
  border-right: 3px solid #FAF9F6;

  display: flex;
  flex-direction: column;
}

.name-title-box {
  margin-bottom: 12vh;
  border-bottom: 3px solid #FAF9F6;
  width: 99%;
}

.full-name {
  margin-top: 0;
  padding-top: 0;
}

.expand-button {
  width: 99%;
  height: 3em;
  background-color: #28282B;
  color: #FAF9F6;
  border: none;
  border-radius: 3px;

  display: flex;
  align-items: center;
}

.expand-button:hover {
  background-color: rgb(211 211 211 / 10%);
  cursor: pointer;
}

.project-name {
  margin-left: 1em;
}

.contact-anchor {
  margin-right: 3%;
}

.project-anchor {
  color: #BD70FF;
}

.project-content {
  transition: max-height 0.5s ease-out 0s;
  overflow: hidden;
}

/* .project-description {
  margin-left: .4em;
} */

/* Nav link */

.nav-link {
  text-decoration: none;
  margin-bottom: 4vh;
  font-size: large;
  color: #FAF9F6;

  display: block;
  position: relative;
  overflow: hidden;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1em;
  background-color: #FAF9F6;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: translate3d(0, 0, 0);
}

.current-underline::after {
  transform: translate3d(0, 0, 0);
}

/* Other dynamic classes */

.content-collapsed {
  max-height: 0vh;
}

.content-expanded {
  max-height: 100vh;
}

/* box-shadow: .15em .175em .3em #FAF9F6, -.15em .175em .3em #FAF9F6 */

.link-button {
  text-decoration: none;
  background-color: #FAF9F6;
  color: #28282B;
  font-size: .9em;
  padding: .2em;
  margin-bottom: .7em;

  display: flex;
  align-items: center;
  width: fit-content;
  transition: all .1s;
}

.link-button:hover {
  margin-bottom: .575em;
  padding-top: .325em;
  padding-left: .325em;
  box-shadow: -.125em -.125em #28282B inset, .125em .125em rgb(159, 159, 159) inset;
}

.link-button:active {
  margin-bottom: .475em;
  padding-top: .425em;
  padding-left: .425em;
  box-shadow: -.225em -.225em #28282B inset, .225em .225em rgb(159, 159, 159) inset;
}